body{
	padding: 0px;
	margin: 0px;
	background-color: black;
	overflow: auto;
}

#contacts_header{
	position: fixed;
	background-color: #FF6600;
	height: 60px;
	width: 100%;
	text-align: right;
	z-index: 1;
	min-width: 500px;
	overflow: hidden;
}


#logo{
	position: fixed;
	height: 90px;
	width: 370px;
	margin-left: 11%;
	background-color: black;
	opacity: 0.89;
	border-bottom: 3px solid white;
	z-index: 1;
}

#Logo_name{
	position: absolute;
	color: white;
	font-size: 48px;
	font-family: sans-serif;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
}

#logo_wheel{
	width: 55px;
	margin-top: 12.5px;
	margin-left: 100px;
	animation-name: rotate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#Logo_name2{
	color: white;
	font-size: 48px;
	font-family: sans-serif;
	text-align: left;
	padding-left: 2px;
	padding-right: 3px;
	margin-top: 35px;
	display: inline-block;
	float: right;
}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}

ul{
	display: inline-block;
	color: white;
	font-size: 18px;
	font-family: tahoma;
	padding-right: 3%;
	padding-top: 1px;
	list-style-position: inside;
}

#marker{
	list-style-image: url('../icon/marker_icon.png');
}

#phone{
	list-style-image: url('../icon/phone_icon.png');
}

#mail{
	list-style-image: url('../icon/mail_icon.png');
}

#header_title{
	width: 100%;
	height: 115px;
	padding-top: 60px;
	background-image: url(../image/bg_image1.jpg)
}


#bg_header_title{
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0, 0.7);
}

#title{
	position: absolute;
	font-size: 48px;
	padding-top: 30px;
	font-family: sans-serif;
	left: 43%;
	min-width: 350px;
	color: white;
}

#nav{
	width: 100%;
	height: 80px;
	background-color: #FF6600;
	overflow: hidden;
}

#nav_bar{
	height: 80px;
	margin-left: 18%;
	margin-right: 18%;
	min-width: 700px;
}

.button{
	height: 75px;
	width: 19.66%;
	border-left: 0.7px white solid;
	border-right: 0.7px white solid;
	float: left;
	text-align: center;
	overflow: hidden;
}

.button:hover{
	border-bottom: 3.5px white solid;
}

.text_button{
	font-family: sans-serif;
	font-size: 30px;
	color: white;
	display: inline-block;
	margin-top: 20px;
	text-decoration: none;
}

#nav_gradient{
	width: 100%;
	height: 100px;
	background: linear-gradient(#FF6600, white);
}

#review_infoblock{
	width: 100%;
	background-color: white;
	padding: 1px;
}

#review_block1{
	padding: 1px;
	width: 60%;
	margin-left: 20%;
	border-left: 5px #FF6600 solid;
}

#review_block2{
	text-align: right;
	margin-top: 30px;
	width: 60%;
	margin-left: 20%;
	border-right: 5px #FF6600 solid;
	margin-bottom: 60px;
}

h1{
	font-size: 35px;
	font-family: sans-serif;
	margin: 15px;
}

p{
	font-size: 18px;
	font-family: sans-serif;
	margin: 15px;
}

footer{
	width: 100%;
	height: 300px;
	background-color: #333333;
}

#footer_navblock{
	position: absolute;
	width: 80%;
	height: 200px;
	margin-left: 10%;
	margin-top: 50px;
}

.navblock{
	width: 33.333%;
	height: 100%;
	float: left;
}

.navblock_header{
	position: absolute;
	font-size: 28px;
	font-family: sans-serif;
	color: white;
	float: left;
	min-width: 206px;
}

.navblock_list{
	margin-top: 35px;
	list-style: none;
	padding: 0;
}

.navblock_list_item{
	color: white;
	margin-top: 7px;
	font-size: 18px;
	font-family: sans-serif;
}

.navblock_list_item:hover{
	color: #FF6600;
}

.navblock_list2{
	margin-top: 35px;
	padding: 0;
	margin-left: 5px;
}

.navblock_list_item_adress{
	color: white;
	margin-top: 7px;
	font-size: 18px;
	font-family: sans-serif;
	list-style-position: inside;
	list-style-image: url('../icon/marker_icon.png');

}

.navblock_list_item_phone{
	color: white;
	margin-top: 7px;
	font-size: 18px;
	font-family: sans-serif;
	list-style-position: inside;
	list-style-image: url('../icon/phone_icon.png');
}

.navblock_list_item_mail{
	color: white;
	margin-top: 7px;
	font-size: 18px;
	font-family: sans-serif;
	list-style-position: inside;
	list-style-image: url('../icon/mail_icon.png');
}

.navblock_list_social{
	padding: 0;
	margin-left: 15px;
}

.navblock_list_social_item{
	list-style: none;
	margin-top: 15px;
}